./spring2021/hw2/*
./spring2021/hw1/audio/*
./spring2021/hw1/avgpool18/*
./spring2021/hw1/bof/*
./spring2021/hw1/mfcc/*
./spring2021/hw1/kmeans.50.model
./spring2021/hw1/opensmi*
./spring2021/hw1/selected.mfcc.csv
./spring2021/hw1/smile.log
./spring2021/hw1/soundnet/*
./spring2021/hw1/videos/*
./spring2021/hw1/videos.name.lst
